@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&displaly=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    Font-size: 14px;
    background-color: hsl(218, 28%, 13%);
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(217, 28%, 15%);    
}

.header .logo{
    display: flex;
    flex-direction: row;
    margin: 0 20px ;
    align-items: center;
    flex: 1;
    padding: 0 10px;
    color: #fff;
}
.logo h2{
    padding: 20px;
}
.header .i{
    outline-style: 1px solid #15da3f;
}
.link{}

.link ul{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* align-items: center; */
    margin-right: 10px;
}
.link li{
    list-style: none;
    margin: 10px;
    color: hsl(0, 0%, 100%);
    font-family: 'Raleway' sans-serif;
}
.container_header{
    background-color: hsl(218, 28%, 13%);
    text-align: center;
}
#hero_img .hero_img{
    height: 300px;
}
.container_header h1,p, h2{
    color: hsl(0, 0%, 100%);
}
.container_header p{
    letter-spacing: 2px;
}
a{
   text-decoration: none; 
}
#get_started{
    padding: 16px 100px;
    color: hsl(0, 0%, 100%);
    background-color:  hsl(198, 60%, 50%);
    border: none;
    border-radius: 25px;
    font-size: 15px;
    margin: 20px 10px;
    cursor: pointer;
    font-family: 'Raleway' sans-serif;
   
}
#get_started:hover{
    opacity: 0.5;
    transition: 0.2s;
}
.section_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 80px 200px  0;
    background-color: hsl(218, 28%, 13%);
    align-items: center;
    
    
}
.section_container .section_description{
    align-items: center;
    padding: 20px;
    margin: 10px;
    text-align: center;
    flex-basis: 40%;
    
}
.section_container2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 200px;
    background-color: hsl(218, 28%, 13%);
    align-items: center;
    text-align: center;    
    
}
.section_container2 .section_description2{
    align-items: center;
    padding: 20px;
    margin: 10px;
    text-align: center;
    flex-basis: 40%;
   
    
}
.section_description3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}
.section_description3 h2{
    font-size: 25px;
}

.section_description3 .banner2{
    height: 250px;
    margin: 0 40px;
}
.desc{
    display: flex;
    border-bottom: 1px solid #65e2d9;
    width: 146px; 
}
.desc a{
    color: #65e2d9;
    text-decoration: none;
    font-size: 14px;
}
.desc img{
    align-items: center;
    justify-content: center;
    padding-left: 3px;
}
